<html>
	<head>
		<link rel="stylesheet" href="/css/login_out.css" />
	</head>
  <body>
	<h1 style="color:hotpink">Log In</h1>
	<form id="logbox" action="/login" method="POST">
        <div id="errorMessage">
            <% if (errorMessage){ %>
                <%= errorMessage %>
            <% } %>
        </div>
		<label class="inputlabel">USERNAME</label><br /><input class="inputbox" type="text" name="username"><br />
		<label class="inputlabel">PASSWORD</label><br /><input class="inputbox" type="password" name="password"><br />
		<input id="submit" type="submit" name="submit" value="Submit">
		<a id="register" href="/user_register">Register New User</a>			
	</form>	
	<a id="backhome" href="/">HOME</a>
  </body>
</html>	