body{
    height: auto;
    position: relative;
    margin:0 15%;
    background-color:whtie;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-size: 45px;
    margin:2%;
    color:hotpink;
}

h2{
    font-size: 25px;
    margin:2%;
}

/* unvisited link and visited link */
a.headerbutton:link, a.headerbutton:visited {
    color: yellowgreen;
    text-decoration: none;
  }

  a.headerbuttonsolid:link, a.headerbuttonsolid:visited {
    color: white;
    text-decoration: none;
  }

/* mouse over link */
a.headerbutton:hover {
    color: hotpink;
    cursor: pointer;
  }


.storybox{
    margin:3% 2%;
    padding: 5px;
    width: 25%;
    height: 10%;
    border-radius: 20px;
    float: left;
    border:3px solid transparent;
}

.storyboxshow{
    margin:3% 2%;
    padding: 5px;
    width: 25%;
    height: auto;
    border-radius: 20px;
    float: left;
    border:3px solid transparent;
}

.storyboxcontent{
    display:none;
    float:left;
}

.storyboxcontentshow{
    display:block;
    float:left;
    margin: 5px;
}

.storybox:hover{
    border:3px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor:zoom-in;
}

.storybox div{
    user-select: none;
    pointer-events: none;
}

.cornertag{
    font-size: 10px;
    background-color: white;
    border-radius: 20px;
    padding: 4px 8px;
    text-align: center;
    margin: 5px;
    float: left;
}

#headerbar{
    float: left;
    position: relative;
    width: 100%;
    margin-bottom: 15%;
}

.headerbutton {
    font-size: 14px;
    float: right;
    position:relative;
    padding:7px 15px;
    margin: 5px 5px;
    border-radius: 15px;
    border: 1px solid yellowgreen;
}

.headerbutton:hover{
    border: 1px solid hotpink;
    cursor: pointer;
}

.headerbuttonsolid {
    color:white;
    font-size: 14px;
    float: right;
    position:relative;
    padding:7px 15px;
    margin: 5px 5px;
    border-radius: 15px;
    background-color: yellowgreen;
    border: 1px solid yellowgreen;
}

.headerbuttonsolid:hover {
    color:white;
    font-size: 14px;
    float: right;
    position:relative;
    padding:7px 15px;
    margin: 5px 5px;
    border-radius: 15px;
    background-color: hotpink;
    border: 1px solid hotpink;
    cursor: pointer;
}

#contenttoggle{
    margin:5% 80% 0% 2%;
    border: 1px solid black;
    border-radius: 20px;
    color: black;
    padding:7px 15px;
    float: left;
    font-size: 12px;
}

#contenttoggle:hover{
    background-color: black;
    border: 1px solid black;
    color: white;
    cursor: pointer;
}